<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  body {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
  }
</style>
<title>Pest Detection</title>


<h1 style="text-align: center;"> PEST DETECTION </h1>

<p> <a href="http://44.225.155.76:5000/">Home |</a> 
  <a href="http://44.225.155.76:5000/pest_detect_home">Pest Detection |</a> 
  <a href="http://44.225.155.76:5000/teach_mach">Teachable Machine</a> </p>
</head>

<body>
  <br>
  The Pest Detection feature includes two key functions - Pest Photo Upload and ESP32 Detection - that allow users to identify 
  pests and monitor pest movement in real-time. Whether you are a homeowner, pest control professional, or agriculture researcher,
  Pest Detection is a valuable tool for effective pest control. <br>
  <br>
  <h6><a href="http://44.225.155.76:5000/image">Pest Photo Upload</a>: </h6> 
  The Pest Photo Upload feature allows users to upload a photo of a pest and receive instant identification of the
  type of pest with bounding boxes displayed around it. This feature is useful for identifying pests in crops and fields for
  proper control measures.
  This feature currently detects 5 classes: <br>
  <p style="font-style: italic;">
  Beetles <br>
  Caterpillars <br>
  Snails <br>
  Ants <br>
  Insects <br>
  </p>
 <br>
 <h6> <a href="http://44.225.155.76:5000/esp32post">ESP32 Detection</a>: </h6>
  The ESP32 Detection feature allows users to receive notifications of pest movement detected by an ESP32 device. 
  This feature is particularly useful for monitoring pests in real-time and preventing infestations. <br>

  <br>
 <p style="font-style: italic;"> Note: To use either of these features, please follow the specific instructions provided on their 
  respective pages. </p>
