<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 20px;
      }
    </style>
    <title>ESP32 Post Image</title>
  
  <h1 style="text-align: center;"> ESP32 Detection </h1>
  <p> <a href="http://44.225.155.76:5000/">Home |</a> 
    <a href="http://44.225.155.76:5000/pest_detect_home">Pest Detection |</a> 
    <a href="http://44.225.155.76:5000/teach_mach">Teachable Machine</a> </p>
  </head>

  <body>
    <br>
    This feature currently captures pest images from the ESP32 microcontroller
    
    
    {% if filename %}
        <div>
            <img src="{{ url_for('display_esp', filename=filename) }}" height="300" width="500">
        </div>
    {% endif %}

  </body>
</html>
