<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    /* Override the default padding */
    body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
</style>
<title>PEST DETECTIVE</title>

<h1 style="text-align: center;"> PEST DETECTIVE </h1>

<p> <a href="http://Insert IP:5000/">Home |</a> 
    <a href="http://Insert IP:5000/pest_detect_home">Pest Detection |</a> 
    <a href="http://Insert IP:5000/teach_mach">Teachable Machine</a> </p>
</head>

<body>
    
    <br> <h6>Introduction:</h6> 
    PestDetective is an AI-powered tool designed for pest control and management. This project aims to create a comprehensive platform 
    that utilizes computer vision and machine learning algorithms to identify pests and monitor their movements. The platform includes 
    two key features - Pest Detection, and Teachable Machine - that work together to provide a complete pest 
    control solution. 
    <br>

    <br> <h6>Background:</h6> 
    Pest infestations are a major problem in agriculture and can cause significant damage to crops, resulting in reduced yields and 
    increased costs for farmers. Traditional pest control methods are often inefficient and can be harmful to the environment. 
    The use of AI-powered tools such as PestDetective can provide a more effective and sustainable solution for pest control and management.
    <br>

    <br> <h6>Applications:</h6>
    PestDetective has a wide range of applications across various industries, including agriculture, pest control, and research. 
    Farmers can use PestDetective to identify pests in their crops and fields and implement targeted control measures. Pest control 
    professionals can use PestDetective to monitor pest movement in real-time and provide more effective pest control services. Researchers 
    can use PestDetective to collect data on pest populations and movements for analysis and modeling purposes.
 

</body>

</html> 
