<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
  </style>
  <title>TEACHABLE MACHINE (OBJECT DETECTION)</title>


    <h1 style="text-align: center;"> TEACHABLE MACHINE (OBJECT DETECTION) </h1>

    <p> <a href="http://44.225.155.76:5000/">Home |</a> 
    <a href="http://44.225.155.76:5000/pest_detect_home">Pest Detection |</a> 
    <a href="http://44.225.155.76:5000/teach_mach">Teachable Machine</a> </p>
</head>

<body>
    <br>
    Test your model here: <br>
    <br>
    <form method="post" action="/objdet_test" enctype="multipart/form-data">
        <label for="model_file">Model.tflite file </label>
        <input type="file" id="model_file" name="model_file" class="form-control" autocomplete="off" required> <br>
        <label for="objdet_testimg">Test Image</label>
        <input type="file" id="objdet_testimg" name="objdet_testimg" class="form-control" autocomplete="off" required>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>


    {% if filename %}
        <div>
            <img src="{{ url_for('display_obj_test', filename=filename) }}" height="300" width="500">
        </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
</body>
